<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28313087785-sbplq6hhsjfkm18apesqqso39nchaf3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28313087785-sbplq6hhsjfkm18apesqqso39nchaf3d</string>
	<key>API_KEY</key>
	<string>AIzaSyCzznCFQ8QLsuwgLwZKLboAWnjEx4eR8BI</string>
	<key>GCM_SENDER_ID</key>
	<string>28313087785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yerkinbekov.LoginUI</string>
	<key>PROJECT_ID</key>
	<string>diploma-work-403e5</string>
	<key>STORAGE_BUCKET</key>
	<string>diploma-work-403e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28313087785:ios:501e0ea4bb2f4f535bd138</string>
</dict>
</plist>